
services:
  db:
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
    networks:
      - default

  pgadmin4:
        image: elestio/pgadmin:latest
        restart: always
        environment:
          PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
          PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
          PGADMIN_LISTEN_PORT: ${PGADMIN_PORT}
        ports:
          - "${PGADMIN_PORT}:${PGADMIN_PORT}"
        depends_on:
          - db
        volumes:
          - pgadmin-data:/var/lib/pgadmin
        networks:
          - default

  backend:
    build: 
      context: backend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      DEBUG: ${DEBUG}
      PORT: ${API_PORT}
      SECRET_KEY: ${SECRET_KEY}
      DATABASE_URL: ${DATABASE_URL}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      DJANGO_SUPERUSER_USERNAME: ${DJANGO_SUPERUSER_USERNAME}
      DJANGO_SUPERUSER_EMAIL: ${DJANGO_SUPERUSER_EMAIL}
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
    command: [
      "sh", "-c", 
      "sleep 10 && 
       python wait-for-db.py && 
       python manage.py makemigrations && 
       python manage.py migrate && 
       python setup-superuser.py && 
       python manage.py runserver 0.0.0.0:${API_PORT}"
    ]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
    volumes:
      - ./backend:/app
      - ./backend/static:/app/static
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - default
  
  frontend:
    build: 
      context: frontend
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      VITE_API_URL: ${VITE_API_URL}
      NODE_ENV: ${NODE_ENV}
    ports:
      - "${FRONTEND_PORT}:5173"
    tty: true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - default

volumes:
  db-data:
  pgadmin-data:
  static-data:

networks:
  default:
    driver: bridge